@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.s-other {
  height: 100vh;

  @media (max-width: $breakpoint-md) {
    height: auto;
    margin-top: 136px;
    padding: 32px 0 88px 0;
  }

  &__inner {
    @media (max-width: $breakpoint-md) {
      flex-direction: column-reverse;
    }
  }

  & .heading {
    margin-bottom: 16px;
  }

  & .description {
    margin-bottom: fluid(32, 48);
    line-height: 1.4;
    font-size: fluid(18, 24);
    color: rgba(27, 27, 27, 1);
  }

  & .decor {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
  }

  & .btn-primary {
    width: 300px;

    @media (max-width: $breakpoint-md) {
      width: 265px;
    }
  }

  & .img {

    width: 90%;
    object-fit: contain;

    @media (max-width: $breakpoint-md) {
      margin-bottom: 32px;
    }
  }

  &--error {
    & .img {
      max-width: 495px;

    }
  }

  &--thanks {
    & .img {
      max-width: fluid(213, 306);

      @media (min-width: $breakpoint-md) {
        margin: 0 auto;
      }
    }

    & .row {
      @media (max-width: $breakpoint-md) {
        align-items: flex-start;
      }
    }
  }
}

.s-search {
  min-height: 50vh;
  padding: fluid(20, 40) 0 fluid(50, 140) 0;

  & .heading {
    margin-bottom: fluid(22, 32);
  }

  & .description {
    margin-bottom: fluid(35, 45);
  }

  & .btn--primary {
    width: 100%;
    max-width: 390px;
  }

  & .search {
    &__count {
      margin-bottom: fluid(15, 25);
    }

    &__grid {
      display: grid;
      margin-bottom: fluid(30, 50);
      gap: 20px;
      grid-template-columns: repeat(3, 1fr);

      @media (max-width: $breakpoint-md) {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
      }

      @media (max-width: $breakpoint-sm) {
        grid-template-columns: 1fr;

      }
    }
  }
}

.s-simple {
  padding: 40px 0 fluid(50, 100) 0;

  & .heading {
    margin-bottom: fluid(20, 35);

    @media (max-width: $breakpoint-md) {
      text-align: center;
    }
  }

}

.s-error {
  background-color: rgba(248, 243, 239, 1);

  & .content {
    padding: 150px 0;
  }

  & .number {
    margin-bottom: fluid(30, 40);
  }

  & .heading {
    font-size: fluid(40, 50);
    margin-bottom: fluid(30, 40);
    width: 140%;

    @media (max-width: $breakpoint-md) {
      width: 100%;

    }
  }

  & .description {
    gap: 20px;
    display: grid;
    margin-bottom: fluid(15, 40);
  }

  & .btn {
    min-width: 190px;

    @media (max-width: (475px)) {
      width: 100%;
    }

    &__wrap {
      display: flex;
      align-items: flex-start;
      gap: 30px;
      width: 140%;

      @media (max-width: $breakpoint-md) {
        width: 100%;

      }

      @media (max-width: (475px)) {
        align-items: center;
      }
    }
  }

  & .media {
    @media (max-width: $breakpoint-md) {
      max-width: 420px;
      margin: 45px auto 0 auto;
    }

    &--number {
      max-width: fluid(285, 385);
      margin-bottom: fluid(40, 50);
    }
  }

}

.s-thanks {
  padding: 70px 0 100px 0;
  position: relative;
  background-color: rgba(243, 243, 245, 1);

  @media (max-width: $breakpoint-sm) {
    padding: 0;
  }

  & .bg {
    height: 100%;
    width: 100%;
    object-fit: cover;

    &__wrap {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;


      @media (max-width: $breakpoint-sm) {
        position: relative;
      }
    }
  }

  & .content {
    
    & .title {
      margin-bottom: fluid(15, 30);
      font-size: fluid(25, 55);
    }

    & .subtitle {
      margin-bottom: fluid(6, 35);
      font-size: fluid(18, 30);
    }

    & .description {
      margin-bottom: fluid(20, 40);
    }
  }

}

.s-returns {
  padding: fluid(20, 40) 0 fluid(50, 100);

  & .heading {
    margin-bottom: 21px;
  }

  & .returns-steps {
    background-color: rgba(243, 243, 245, 0.6);
    padding: fluid(20, 30) fluid(20, 33);
    border-radius: 20px;

    &__heading {
      margin-bottom: fluid(14, 27);
    }
  }

  & .info-block {
    padding: fluid(30, 40) 0;
    border-bottom: 1px solid rgba(7, 4, 4, .1);

    &:last-child {
      border-bottom: none;

    }

    &__title {
      margin-bottom: fluid(14, 25);
      font-size: fluid(20, 25);
    }
  }

  & .steps {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
    align-items: flex-end;

    @media (max-width: $breakpoint-md) {
      grid-template-columns: 1fr;
      gap: 29px;
    }

    &__item {
      display: flex;
      flex-direction: column;
      gap: 14px;

      @media (max-width: $breakpoint-md) {
        flex-direction: row;
        align-items: center;
        gap: 14px;
      }
    }

    &__icon {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;

      &-wrap {
        width: 24px;
        height: 24px;

      }


    }
  }
}

.s-delivery {
  padding: fluid(20, 40) 0 fluid(50, 90);

  & .heading {
    margin-bottom: 21px;
  }

  & .description {
    margin-bottom: 16px;
  }

  & .info-block {
    &--accent {
      background-color: rgba(243, 243, 245, 1);
      border-left: 5px solid rgba(196, 0, 0, 0.6);
      border-radius: 20px;
      padding: 40px 30px;

      & .info-block {
        &__title {
          color: rgba(196, 0, 0, 1);
          margin-bottom: 16px;
        }
      }
    }
  }
}